<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>批改老师首页</title>
    <link rel="stylesheet" th:href="@{/static/css/student_index.css}">
    <link rel="stylesheet" th:href="@{/static/css/fontawesome-free-6.2.1-web/css/all.css}">
    <style>
        text>p{
            margin: 0 auto;
            font-weight: bold;
            font-size: 32px;
            font-family: 微软雅黑;
        }
        a{
            text-decoration: none;
            color: black;
        }
    </style>
</head>
<body>
<div class="top-bar-wrapper">
    <div class="touxiang">
        <img th:src="@{/static/css/img/头像.png}" width="40px">
        <p th:text="${session.tName}"></p><i class="fa fa-angle-down" aria-hidden="true"></i>
        <div class="pull-down-list">
            <a href="#">个人信息</a>
            <a th:href="@{/index}">退出登录</a>
        </div>
    </div>
</div>
<main>
    <!--左侧导航栏-->
    <nav>
        <div class="touxiang2">
            <img th:src="@{/static/css/img/头像.png}" width="80px">
            <span th:text="${session.tName}"></span>
        </div>
        <div class="function">
            <ul>
                <li><a th:href="@{/turnToCorrect}"><i class="fa-solid fa-list-check"></i>批改试卷</a></li>
            </ul>
            <ul>
                <li><a th:href="@{/turnToReview}"><i class="fa-regular fa-calendar-check"></i> 批阅申诉</a></li>
            </ul>
        </div>
    </nav>
    <!--创建中间内容-->
    <article>
        <div class="text">
            <p>欢迎老师来到在线考试管理系统！</p>
        </div>
    </article>
</main>
</body>
</html>