.choose_role {
    height: 600px;
    width: 97%;
    border-style: dotted;
    border-color: #666666;
    border-radius: 10px 10px;
    margin: 0px 20px;

}

.choose_role>p{
    font-size: 24px;
    font-family: 微软雅黑;
    text-align: center;
    vertical-align: center;
    margin: 50px;

}

.choose{
    height: 100%;
    width: 53%;
    margin: 0 auto;
}

.choose > div {
    text-decoration: none;
    float: left;
    margin: 0 auto;
}

input{
    height: 170px;
    width: 260px;
    background-color: dodgerblue;
    border-color: white;
    border-radius: 10px 10px;
    text-decoration: none;
    font-family: 微软雅黑;
    font-size: 34px;
    margin: 26px 50px;
}

input:hover{
    background-color: #355B94;
}